Repository GuillaumeAmat/knuckle: changes, and which lint-staged commands are due for each by the changed paths.
All: npx knuckle prettier --write, npx knuckle eslint

chore: release v0.2.0
  package-lock.json
  package.json
Due: npx knuckle prettier --write

fix: remove the build at postinstall
  package.json
Due: npx knuckle prettier --write

chore: release v0.2.1
  package-lock.json
  package.json
Due: npx knuckle prettier --write

fix: lint-staged and others have to be installed in production
  package.json
Due: npx knuckle prettier --write

chore: release 0.2.2
  package-lock.json
  package.json
Due: npx knuckle prettier --write

fix: publish the configurations files
  package.json
  src/utils/loadAndMergeConfig.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore: release 0.2.3
  package-lock.json
  package.json
Due: npx knuckle prettier --write

fix: don't require files from the src folder in production
  .eslintrc.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore: release 0.2.4
  package-lock.json
  package.json
Due: npx knuckle prettier --write

feat: new paradigme, create the config file to support IDEs
  .eslintignore
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  src/bin/index.js
  src/tools/eslint/command.js
  src/tools/eslint/configurations.js
  src/tools/lint-staged/command.js
  src/tools/lint-staged/configurations.js
  src/tools/prettier/command.js
  src/tools/prettier/configurations.js
  src/utils/cosmiconfigListLoader.js
  src/utils/createTmpFile.js
  src/utils/loadAndMergeConfig.js
  src/utils/module.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore: release 0.3.0
  package-lock.json
  package.json
Due: npx knuckle prettier --write

docs: add FAQ, ToC, NPM badge and fixes
  .all-contributorsrc
  README.md
Due: npx knuckle prettier --write

chore: release 0.3.1
  package-lock.json
  package.json
Due: npx knuckle prettier --write

feat(prettier): set the configuration
  .prettierrc
Due: npx knuckle prettier --write

docs: add READMEs for each tool
  README.md
  src/tools/eslint/README.md
  src/tools/lint-staged/README.md
  src/tools/prettier/README.md
Due: npx knuckle prettier --write

docs: add the badge section
  README.md
Due: npx knuckle prettier --write

fix: configurations path
  src/tools/eslint/README.md
  src/tools/lint-staged/README.md
  src/tools/prettier/README.md
Due: npx knuckle prettier --write

chore: release 0.3.2
  package-lock.json
  package.json
Due: npx knuckle prettier --write

docs: add a FAQ and fixes
  README.md
Due: npx knuckle prettier --write

chore: ignore yarn.lock
  .gitignore
Due: none

fix(prettier): fix the trailing comma behavior
  .babelrc
  package-lock.json
  package.json
Due: npx knuckle prettier --write

chore: add some utils to write and format files
  src/bin/index.js
  src/tools/eslint/configurations.js
  src/tools/lint-staged/configurations.js
  src/tools/prettier/configurations.js
  src/utils/file.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore: refact a bit the output handling
  src/bin/index.js
  src/utils/output.js
Due: npx knuckle prettier --write, npx knuckle eslint

fix: missing return
  src/utils/file.js
Due: npx knuckle prettier --write, npx knuckle eslint

feat(tslint): add TSLint everywhere
  .lintstagedrc
  README.md
  package.json
  src/tools/tslint/configurations.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore(tslint): use formatJson for the TSLint config
  src/tools/tslint/configurations.js
Due: npx knuckle prettier --write, npx knuckle eslint

feat(tslint): add the base files
  src/bin/index.js
  src/tools/tslint/README.md
  src/tools/tslint/command.js
  src/tools/tslint/configurations.js
Due: npx knuckle prettier --write, npx knuckle eslint

feat(tslint): add tslint package and plugins
  package-lock.json
  package.json
  tslint.json
Due: npx knuckle prettier --write

feat(tslint): adapt the plugins to the user dependencies
  src/tools/tslint/configurations.js
  tslint.json
Due: npx knuckle prettier --write, npx knuckle eslint

feat: tslint (#19)
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/bin/index.js
  src/tools/tslint/README.md
  src/tools/tslint/command.js
  src/tools/tslint/configurations.js
  tslint.json
Due: npx knuckle prettier --write, npx knuckle eslint

fix: missed the tslint.json file in the published files list
  package.json
Due: npx knuckle prettier --write

chore: release 0.4.0
  package-lock.json
  package.json
Due: npx knuckle prettier --write

fix: check the configured tools when knuckle up
  src/bin/index.js
  src/tools/tslint/configurations.js
Due: npx knuckle prettier --write, npx knuckle eslint

refactor: real dogfood and optimizations
  .eslintrc
  .eslintrc.js
  .knucklerc
  .lintstagedrc
  README.md
  config/eslint/.eslintignore
  config/eslint/.eslintrc
  config/eslint/README.md
  config/lint-staged/.lintstagedrc
  config/lint-staged/README.md
  config/prettier/.prettierignore
  config/prettier/.prettierrc
  config/prettier/README.md
  config/tslint/README.md
  config/tslint/tslint.json
  src/tools/eslint/configurations.js
  src/tools/lint-staged/configurations.js
  src/tools/tslint/configurations.js
  src/utils/file.js
  src/utils/hasDependency.js
  src/utils/loadAndMergeConfig.js
  src/utils/module.js
Due: npx knuckle prettier --write, npx knuckle eslint

chore: release 0.4.1
  package-lock.json
  package.json
Due: npx knuckle prettier --write

docs: rephrase the introduction
  README.md
Due: npx knuckle prettier --write

chore: node 8 in .nvmrc
  .nvmrc
Due: npx knuckle prettier --write

fix: publish the config folder
  package.json
Due: npx knuckle prettier --write

fix: main file
  package.json
Due: npx knuckle prettier --write

chore: swipe the dist folder before the build
  package.json
Due: npx knuckle prettier --write

Path conditions:
  npx knuckle prettier --write: (any of: **/*.{js,jsx,ts,tsx,vue,json,yaml,css,scss,less,html,md,mdx,graphql}) or (any of: **/.*rc)
  npx knuckle eslint: any of: **/*.{js,jsx}
