Repository GuillaumeAmat/knuckle: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run knuckle -- prettier --write, npm run knuckle -- eslint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,vue,json,yaml,css,scss,less,md,mdx,graphql}": [
    "npm run knuckle -- prettier --write",
    "git add"
  ],
  "**/.*rc": ["npm run knuckle -- prettier --write", "git add"],
  "**/*.{js,jsx}": ["npm run knuckle -- eslint"]
}

fix: commitlint
  .huskyrc
  src/bin/index.js
  src/tools/commitlint/command.js
  src/tools/husky/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.8.1
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

fix: commitlint
  src/tools/husky/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.8.2
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

feat: add an interactive mode to the add command
  README.md
  package-lock.json
  package.json
  src/bin/add.js
  src/tools/commitlint/command.js
  src/tools/eslint/command.js
  src/tools/husky/configurations.js
  src/tools/lint-staged/command.js
  src/tools/lint-staged/configurations.js
  src/tools/prettier/command.js
  src/tools/tslint/command.js
  src/utils/tool.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

docs: add the CHANGELOG.md file
  CHANGELOG.md
Due: npm run knuckle -- prettier --write

fix: get the good bin path for commitlint
  .huskyrc
  CHANGELOG.md
  src/tools/commitlint/command.js
  src/tools/husky/configurations.js
  src/utils/tool.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.9.0
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

fix: fix the `add` interactive mode for the first launch
  CHANGELOG.md
  src/bin/add.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.9.1
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

docs: improve the documentation and add a gif demo in the README
  CHANGELOG.md
  README.md
  demo.gif
  docs/FAQ.md
  docs/Usage_guide.md
Due: npm run knuckle -- prettier --write

chore: release 0.9.2
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

chore: update package-lock.json
  package-lock.json
Due: npm run knuckle -- prettier --write

fix: don't treat .npmrc and .yarnrc as JSON files
  .lintstagedrc
  CHANGELOG.md
  src/tools/lint-staged/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.9.3
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

feat: take care of the *.yml files in lint-staged
  CHANGELOG.md
  src/tools/lint-staged/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: release 0.10.0
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

chore: upgrade the dependencies
  config/eslint/README.md
  config/husky/README.md
  config/lint-staged/README.md
  config/prettier/README.md
  package-lock.json
  package.json
  src/tools/eslint/dependencies.js
  src/tools/husky/dependencies.js
  src/tools/lint-staged/dependencies.js
  src/tools/prettier/dependencies.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

docs: update the changelog file
  CHANGELOG.md
Due: npm run knuckle -- prettier --write

chore: release 0.11.0
  package-lock.json
  package.json
Due: npm run knuckle -- prettier --write

feat: build fits better for that function
  src/bin/up.js
  src/tools/commitlint/configurations.js
  src/tools/eslint/configurations.js
  src/tools/husky/configurations.js
  src/tools/lint-staged/configurations.js
  src/tools/prettier/configurations.js
  src/tools/tslint/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat: use Node.js 12
  .nvmrc
  package.json
Due: npm run knuckle -- prettier --write

feat: switch to Yarn
  .gitignore
  package-lock.json
  yarn.lock
Due: npm run knuckle -- prettier --write

feat: upgrade the main dependencies
  package.json
  src/utils/hasDependency.js
  src/utils/tool.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat: upgrade rimraf
  package.json
  yarn.lock
Due: npm run knuckle -- prettier --write

chore: ignore .vscode
  .gitignore
Due: none

test: add the first integration test
  .gitignore
  helpers/cmd.js
  package.json
  tests/version.test.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add a test for usage print
  tests/usage.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

fix: const by default
  tests/usage.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add a test for error output (unknown option)
  tests/error.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add tests for the add command
  helpers/tests/cmd.js
  helpers/tests/setupTestFolder.js
  tests/add.test.js
  tests/error.test.js
  tests/usage.test.js
  tests/version.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: move the test files near their sources
  src/bin/__tests__/add.test.js
  src/bin/__tests__/index.test.js
  src/helpers/tests/binScriptPath.js
  src/helpers/tests/cmd.js
  src/helpers/tests/setupTestFolder.js
  tests/error.test.js
  tests/usage.test.js
  tests/version.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add test for the add command
  src/bin/__tests__/add.test.js
  src/bin/add.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add usage tests
  src/bin/__tests__/index.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

docs: document the function rather than the file
  src/helpers/tests/setupTestFolder.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat: rename setupTestFolder to setupPristineTestFolder
  src/bin/__tests__/add.test.js
  src/helpers/tests/setupPristineTestFolder.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: collect the code coverage
  .gitignore
  .nycrc
  package.json
  src/bin/__tests__/add.test.js
  src/bin/__tests__/index.test.js
  src/helpers/tests/cmd.js
  src/helpers/tests/projectPath.js
  src/helpers/tests/setupPristineTestFolder.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: patch upgrades
  yarn.lock
Due: none

test: fix the coverage collect and add tests
  .nycrc
  package.json
  src/bin/__tests__/__snapshots__/add.test.js.snap
  src/bin/__tests__/__snapshots__/index.test.js.snap
  src/bin/__tests__/__snapshots__/remove.test.js.snap
  src/bin/__tests__/add.test.js
  src/bin/__tests__/index.test.js
  src/bin/__tests__/remove.test.js
  src/helpers/tests/cmd.js
  src/helpers/tests/getKnuckleConfig.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add UP tests and fixes
  src/bin/__tests__/__snapshots__/up.test.js.snap
  src/bin/__tests__/add.test.js
  src/bin/__tests__/index.test.js
  src/bin/__tests__/remove.test.js
  src/bin/__tests__/up.test.js
  src/bin/up.js
  src/utils/packageManager.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint
