Repository GuillaumeAmat/knuckle: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: secure a throwing test
  src/bin/__tests__/index.test.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

test: add the Travis definition file
  .travis.yml
Due: none

test: use test-ci in CI and set the cache
  .travis.yml
Due: none

docs: add the build badge to the README
  README.md
Due: npm run knuckle -- prettier --write

docs: update the package.json
  package.json
Due: npm run knuckle -- prettier --write

feat: upgrade Babel
  package.json
  yarn.lock
Due: npm run knuckle -- prettier --write

fix(eslint): env.jest is a boolean
  src/tools/eslint/configurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

fix: don't auto-push in postversion
  package.json
Due: npm run knuckle -- prettier --write

feat: upgrade the dependencies
  .eslintrc
  .lintstagedrc
  README.md
  package.json
  src/bin/__tests__/__snapshots__/index.test.js.snap
  src/bin/add.js
  src/bin/remove.js
  src/bin/up.js
  src/helpers/tests/getKnuckleConfig.js
  src/utils/hasDependency.js
  src/utils/loadAndMergeConfig.js
  src/utils/tool.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat(commitlint): upgrade commitlint to 8.3
  package.json
  src/tools/commitlint/dependencies.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat(husky): upgrade husky to 4.0
  package.json
  src/tools/husky/dependencies.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat(lint-staged): upgrade lint-staged to 9.5
  package.json
  src/tools/lint-staged/dependencies.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

fix: use Yarn commands in the development phase
  .huskyrc
  .lintstagedrc
  src/utils/tool.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

fix: use formatJson for commitlint
  src/tools/commitlint/configurations.js
  src/utils/file.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat(prettier): upgrade prettier to 1.19
  .lintstagedrc
  package.json
  src/tools/lint-staged/configurations.js
  src/tools/prettier/dependencies.js
  src/tools/prettier/getSupportedExtensions.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

feat(eslint): upgrade eslint and companions
  .lintstagedrc
  package.json
  src/tools/eslint/dependencies.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

chore: upgrade nyc to 15.0
  package.json
  yarn.lock
Due: npm run knuckle -- prettier --write

test: update the snapshots
  src/bin/__tests__/__snapshots__/up.test.js.snap
Due: none

docs: fix the Usage links
  docs/Usage_guide.md
Due: npm run knuckle -- prettier --write

feat(tslint): upgrade tslint and companions
  src/tools/tslint/dependencies.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

docs: fix the tools versions
  config/commitlint/README.md
  config/eslint/README.md
  config/husky/README.md
  config/lint-staged/README.md
  config/prettier/README.md
  config/tslint/README.md
Due: npm run knuckle -- prettier --write

fix: move hasTslint to the right folder
  src/tools/tslint/hasTslint.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

fix: husky and lint-staged configurations
  src/lib/isKnuckleInKnuckle.js
  src/tools/husky/generateConfigurations.js
  src/tools/lint-staged/generateConfigurations.js
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

docs(usage): add a note about the name of the overwrite files
  docs/Usage_guide.md
Due: npm run knuckle -- prettier --write

feat: configurable merge strategies
  docs/Usage_guide.md
  jest.config.js
  jest.setup.js
  package.json
  src/bin/__tests__/__snapshots__/index.test.js.snap
  src/bin/__tests__/__snapshots__/set-merge-strategy.test.js.snap
  src/bin/__tests__/add.test.js
  src/bin/__tests__/index.test.js
  src/bin/__tests__/remove.test.js
  src/bin/__tests__/set-merge-strategy.test.js
  src/bin/__tests__/up.test.js
  src/bin/add.js
  src/bin/index.js
  src/bin/remove.js
  src/bin/set-merge-strategy.js
  src/bin/up.js
  src/helpers/tests/setupPristineTestFolder.js
  src/lib/constants.js
  src/lib/hasCommitlint.js
  src/lib/hasDependency.js
  src/lib/hasEslint.js
  src/lib/hasLintStaged.js
  src/lib/hasPrettier.js
  src/lib/hasTslint.js
  src/lib/isValidMergeStrategy.js
  src/lib/isValidToolName.js
  src/lib/loadAndMergeConfig.js
  src/tools/commitlint/generateConfigurations.js
  src/tools/eslint/generateConfigurations.js
  src/tools/eslint/getDependencies.js
  src/tools/husky/generateConfigurations.js
  src/tools/lint-staged/generateConfigurations.js
  src/tools/prettier/generateConfigurations.js
  src/tools/tslint/generateConfigurations.js
  src/tools/tslint/getDependencies.js
  src/utils/deepMerge.js
  src/utils/sortObjectByKeys.js
  yarn.lock
Due: npm run knuckle -- prettier --write, npm run knuckle -- eslint

Path conditions:
  npm run knuckle -- prettier --write: any of: **/*.{js,jsx,ts,tsx,vue,json,yaml,css,scss,less,md,mdx,graphql}
  npm run knuckle -- eslint: any of: **/*.{js,jsx}
